<mat-sidenav-container class="list-container">
  <mat-sidenav mode="side" opened="true">
    <div class="nav-container">
    <p><a routerLink="/lists">Lists</a></p>
    nav<br />
    more nav
</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <form [formGroup]="listFormGroup" (ngSubmit)="onSubmit()">
        <mat-form-field><input matInput placeholder="Name" formControlName="listName"/></mat-form-field><br />
        <mat-form-field><input matInput placeholder="Body" formControlName="listBody"/></mat-form-field><br />
        <button mat-raised-button color="primary" type="submit" [disabled]="listFormGroup.invalid">Save</button>
        {{ status }}<br />
      </form>
      <!-- {{listFormGroup.value | json}}<br> {{listFormGroup.status}} -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
